div.breadcrumb
    span.breadcrumb-item
        a(href='http://www.almundo.com.ar') Home
    span.breadcrumb-item &nbsp; / &nbsp;
        a(href='http://www.almundo.com.ar/hoteles') Hoteles
    span.breadcrumb-item &nbsp; / Barcelona
