div.filter-container
    p.filter-title <i class="fa fa-search" aria-hidden="true"></i> Nombre de hotel

    div.filter-content
        input(placeholder="Ingrese el nombre del hotel")
        button.filter-name-btn(type='button') Aceptar