main.row
    section.breadcrumb-ctn
    section.search-ctn.col-xs-12.col-sm-12.col-md-12
    section.filter-ctn.col-xs-12.col-sm-12.col-md-3
    section.hotel-ctn.col-xs-12.col-sm-12.col-md-9
        hotel-list(hotels='$ctrl.hotels')