main.row
    div.col-xs-12.col-sm-12.col-md-12.breadcrumb-ctn
        breadcrumb
    div.row
        div.col-xs-12.col-sm-12.col-md-12
            search
    div.row
        section.filter-ctn.col-xs-12.col-sm-12.col-md-3
            filter-list
        section.hotel-ctn.col-xs-12.col-sm-12.col-md-9
            hotel-list(hotels='$ctrl.hotels')