ul.hotel-list
    li(ng-repeat="hotel in $ctrl.hotels | filterName:($ctrl.filters.customName) | filterStars:($ctrl.filters.stars) | filterPrice:($ctrl.filters.price) track by $index")
        hotel-item(hotel='hotel')
