div.filter-container
    p.filter-title <i class="fa fa-search" aria-hidden="true"></i> Precio por noche

    div.filter-container
        input.price-range(type='range', name='points', min='0', max='10')
