@import "./font.scss";
@import "../app/result/hotels-result.scss";
@import "../app/result/hotel-list/hotel-list.scss";
@import "../app/result/hotel-list/hotel-item/hotel-item.scss";
@import "../app/slider/slider.scss";
@import "../app/search/search.scss";
@import "../app/breadcrumb/breadcrumb.scss";
@import "../app/filter/filter-list.scss";
@import "../app/filter/filter-name/filter-name.scss";
@import "../app/filter/filter-price/filter-price.scss";
@import "../app/filter/filter-price/filter-price.scss";

body, html{
  background-color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
}
main.row{
  overflow: hidden;
  padding:20px;
}
