@import "./font.scss";

body, html{
  background-color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
}
main.row{
  overflow: hidden;
}

.hotel-item{
  background-color: white;
  overflow: hidden;
  zoom: 1;
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  margin: 4px 0 4px 0;
}

.hotel-images{
  float: left;
  height: 190px;
  background: center;
}

.hotel-room-data{
  line-height:20px;
  padding: 0.5% 1%;
  font-weight: lighter;
  float: left;
}

.hotel-name{
  font-weight: bold;
}

.hotel-stars{
  color: #FDBA12;
  font-size: large;
}


.hotel-room{
  color: darkorange;
  font-weight: bold;
}

.icon{
  color: #444;
  letter-spacing: 10px;
  font-size: medium;
}



.hotel-price-data{
  float: right;
  padding: 16px;
  text-align: center;
  p,a{
    line-height: normal;
  }
}

.price{
  line-height:50%;
  vertical-align: super;
  color: darkorange;
  font-size: 40px;
  font-weight: bold;
}

.ars{
  font-size: 20px;
  font-weight: lighter;
}

#hotel-ver-btn{
  border-radius: 4px;
  background-color:darkblue;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

.hotel-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*--- MEDIA QUERIES ---*/
/*---Phone---*/

@media only screen and (min-width: 320px) and (max-width:767px){
  .filters-ctn{
    height: 100px;

  }
  .descHotel{
    .imgHotel{
      width: 100%;
    }
    .dataHotel{
      width: 100%;
      p,span{
        font-size: 150%;
      }
    }
    .dataPrice{
      width: 100%;
      border-style:none;
      p,a{
        font-size: 150%;
      }
    }

  }
}
/*---Tablet---*/
@media only screen and (min-width: 768px) and(max-width: 1023px) {
  .filters-ctn{
    height: 100px;
  }
  .descHotel{
    .imgHotel{
      width:40%;
    }
    .dataHotel{
      width: 30%;
    }
    .dataPrice{
      width: 30%;
      border-left-style: dashed ;
      border-width: 0.5px;
    }

  }
}
/*---Desktop---*/
@media only screen and (min-width: 1024px)and(max-width: 1440px){
  .descHotel{
    .imgHotel{
      width:35%;
    }
    .dataHotel{
      width: 35%;
    }
    .dataPrice{
      width: 30%;
      border-left-style: dashed ;
      border-width: 0.5px;
    }

  }
}