
.hotel-item{
  background-color: white;
  padding: 8px;
  margin: 8px 0 8px 0;
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  zoom: 1;
  overflow: hidden;
}

.hotel-images{
  float: left;
  vertical-align: center;
  background: center;
  height: 200px;
}

.hotel-room-data{
  line-height:20px;
  padding: 0.5% 1%;
  font-weight: lighter;
  float: left;
}

.hotel-name{
  font-weight: bold;
}

.hotel-stars{
  color: #FDBA12;
  font-size: large;
}


.hotel-room{
  color: #DF6800;
  font-weight: bold;
}

.icon{
  color: #444;
  letter-spacing: 10px;
  font-size: medium;
}

.hotel-price-data{
  float: right;
  padding: 16px;
  text-align: center;
  line-height: normal;
  a{
    font-weight:bold;
  }
}
.cuotas{
  font-weight:bold;
}

.price{
  line-height:50%;
  vertical-align: super;
  color: #DF6800;
  font-size: 40px;
  font-weight: bold;
}

.ars{
  font-size: 20px;
  font-weight: lighter;
}

#hotel-ver-btn{
  border-radius: 4px;
  background-color:#002c77;
  border: none;
  color: white;
  font-weight:bold;
  font-size:20px;
  padding: 0 60px;
  text-align: center;
  margin: 6px 2px;
  cursor: pointer;
  height:40px;
  line-height:40px;
}


/*--- MEDIA QUERIES ---*/
/*---Phone---*/
@media only screen and (min-width: 320px) and (max-width:767px){

  .filters-ctn{
    height: 100px;

  }
  .hotel-item{
    .hotel-images{
      width: 100%;
    }
    .hotel-room-data{
      width: 100%;
      p,span{
        font-size: 150%;
      }
    }
    .hotel-price-data{
      width: 100%;
      border-style:none;
      p,a{
        font-size: 150%;
      }
    }

  }
}
/*---Tablet---*/
@media only screen and (min-width: 768px) and(max-width: 1023px) {
  .filters-ctn{
    height: 100px;
  }

    .hotel-item{
    .hotel-images{
      width:40%;
    }
    .hotel-room-data{
      width: 30%;
    }
    .hotel-price-data{
      width: 30%;
      border-left-style: dashed ;
      border-width: 0.5px;
    }

  }
}
/*---Desktop---*/
@media only screen and (min-width: 1024px)and(max-width: 1440px) {
  .hotel-item {
    .hotel-images {
      width: 35%;
    }
    .hotel-room-data {
      width: 35%;
    }
    .hotel-price-data {
      width: 30%;
      border-left-style: dashed;
      border-width: 0.5px;
    }

  }
}