.slider {
  position: relative;
  height: 100%;
  width: 100%;
  ul{
    list-style: none;
    height: 100%;
  }
  li{
      list-style: none;
    }

  .items-ctn{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    li {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      >.image {
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        position: absolute;
      }
    }
  }
  .nav-ctn {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    li{
      z-index: 1;
      position: absolute;
      cursor: pointer;
      font-size: 18px;
    }
  }
}

.prev{
  padding: 0px 8px;
  left: 0;
  position: absolute;
  z-index: 1;
  top: calc(50% - 12px);
  background-color: white;
  border-radius: 50%;
  color: #157ab1;
  font-size: 18px;
  left: 8px;
  font-weight:bold;
  &:hover {
    background-color: #cccccc;
    color: #258ac1;
  }
}
.next{
  padding: 0px 8px;
  right: 8px;
  font-weight:bold;
  position: absolute;
  z-index: 1;
  color: #157ab1;
  top: calc(50% - 12px);
  background-color: white;
  border-radius: 50%;
  font-size: 18px;
  &:hover {
    background-color: #CCC;
    color: #258ac1;
  }
}