.filter-container{
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  background-color: #F4F4F4;
  padding: 3%;
  border-bottom: 4px solid #F4F4F4;
}

.filters-title{
  font-size: large;
  color: #444444;
  font-weight: bold;
}

