.filter-name-input{
  border-color: #CCC;
  border-top-color: #777;
  color: #555;
}

.filter-name-btn{
  background-color: #002c77;
  color: white;
  box-shadow: 0 -2px 0 #00163C inset;
  height: 32px;
  border-radius: 2px;
  padding: 0 8px;
  font-size: 110%;
  cursor: pointer;
  margin-left: 10px;
}